  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    padding: 10px;
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .result_para_tag span{white-space: pre-line;}

  .copy_right_footer{
    text-align: center;
    background-color: crimson;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 3;
  }
  canvas{
    border-radius: 20px;
    margin-top: 160px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px blue;
  } 